<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h1>Games</h1>
  </main>
</body>
<%- include('../partials/footer') %>
</html>